{% extends 'base.html.twig' %}

{% block title %}H&M{% endblock %}

{% block container %}
    {% block content %}
        <h1>3rd August 2019</h1>
        <div class="col-xs-12 col-md-6">
            <img class="center" src="{{ asset('images/handm.jpg') }}" />
        </div>
    {% endblock %}
{% endblock %}
