{#<footer class="footer">#}
    {#<div class="container">#}
        {#<div class="row justify-content-between">#}
            {#<div class="col-xs-12 col-md-4 col-lg-3">#}
                {#<ul class="list-unstyled list-inline">#}
                    {#<li class="list-inline-item">#}
                        {#<a target="_blank" href="https://www.linkedin.com/company/example" class="footer__link">#}
                            {#<i class="icon-linkedin footer__icon"></i>#}
                            {#<span class="visuallyhidden">LinkedIn</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="list-inline-item">#}
                        {#<a target="_blank" href="https://www.facebook.com/exmaple/" class="footer__link">#}
                            {#<i class="icon-facebook footer__icon"></i>#}
                            {#<span class="visuallyhidden">Facebook</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="list-inline-item">#}
                        {#<a target="_blank" href="https://twitter.com/example" class="footer__link">#}
                            {#<i class="icon-twitter footer__icon"></i>#}
                            {#<span class="visuallyhidden">Twitter</span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</footer>#}
